
.solid
{
    border-style: solid;
    border-radius: 24px;
    border-color: blanchedalmond;
    border-width: 5px;
    width: 100px;
    height: 100px;
    margin: 3px;
    padding: 3px;
}

.nob
{
    border-style: double;
    border-radius: 24px;
    border-color: blanchedalmond;
    border-width: 5px;
    width: 100px;
    height: 100px;
    margin: 3px;
    padding: 3px;
}